/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/phpunit.xml
/.idea
/.vscode

docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
composer.lock
Thumbs.db
.DS_Store
.env
.env.backup
.phpunit.result.cache